# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django specific
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
db.sqlite3

# If your Django project uses SQLite
*.sqlite3

# Migrations
**/migrations/

# PyCharm specific
.idea/

# VS Code specific
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables
.env

# macOS
.DS_Store

# Windows
Thumbs.db
